myenv
*.swp
*~
*.json
!src/dynapyt/utils/hierarchy.json
__pycache__
workspace.code-workspace
*.egg-info
*.txt
!benchmark.txt
!requirements.txt
*.xml
build/
dist/
.pytest_cache/
test/targetPrograms/*.orig
.hypothesis/
test/PythonRepos/
venvs/**
!venvs
under_test/**
!under_test