attrs==21.4.0
#dataclasses==0.8 only for python version <=3.7
execnet==1.9.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
libcst==0.4.1
mypy-extensions==0.4.3
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.0.1
pytest-forked==1.4.0
pytest-xdist==2.5.0
typing-inspect==0.7.1
typing_extensions==4.1.1
zipp==3.6.0
libcst==0.4.1